<footer>
<div id="footer">
    <ul class="footer-content">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">Designed by <a href="http://www.seqyuan.com/" title="Seqyuan Home Page">Seqyuan</a>. 转录调控:<a href="http://192.168.2.202:1900" title="Tetools Home Page">Tetools</a>. 生物学DNA:<a href="http://192.168.2.202:1901" title="Pag Home Page">Pagtools</a>. 蛋白医学DNA:<a href="http://192.168.2.202:1902" title="Medical Home Page">Medtools</a>. 画图:<a href="http://192.168.2.202:1903" title="Plot Home Page">Plotools</a></li>
    </ul>
</div>
</footer>
